doctype html
html
    head
        title Welcome Email
    body
        h1 Hi #{name},
        p Welcome to our platform. We're glad you're here!
        p
            | If you have any questions, feel free to reply to this email.
        p Cheers,
        p The Demo Team